{% extends "base.twig" %}

{% block content %}
  <section id="{{post.slug}}" class="sct-slideshow sct-parallax main-header" data-time="5">
    <div class="images-container">
      {% for image in slider_images %}
        <div class="slider-img" style="background-image: url({{TimberImage(image).src}})"></div>
      {% endfor %}
    </div>
    <nav class="header-menu">
      <img src="{{theme.link}}/images/logo-200x200.png" alt="Logo Iyengar" class="logo" />
      {% include "menu.twig" with {'menu': menu.get_items} %}
    </nav>
  </section>
  {% for section in sections_top %}
    {% include "page-no-footer.twig" with {'post': section} %}
  {% endfor %}
  <div id="atividades" class="section-header">
    <div class="container">
      <h1 class="header-title">{{post.get_field('top_subtitle')}}</h1>
    </div>
  </div>
  <div class="container content-section">
    {{post.content}}
    {% for single in posts %}
      {% if loop.index % 3 == 1 %}
      <div class="row">
      {% endif %}
      {% include 'tease.twig' %}
      {% if (loop.index % 3 == 0 or loop.last) %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% include "page-footer.twig" %}
  {% for section in sections_bottom %}
    {% include "page-no-footer.twig" with {'post': section} %}
  {% endfor %}
  {% include 'footer.twig' %}
{% endblock %}
