{% extends partial ? "partial.twig" : "base.twig" %}

{% block content %}
  <div id="{{post.slug}}"></div>
  <section class="sct-parallax main-header" :class="{ mobile: mobile }" data-main="true">
    <slider images="{{top_images|join(',')}}"></slider>
    <nav class="header-menu">
      <img src="{{theme.link}}/images/logo-200x200.png" alt="Logo Iyengar" class="logo" />
      {% include "menu.twig" with {'menu': menu.get_items} %}
    </nav>
  </section>
  <div id="centro" class="section-header no-margin">
    <div class="container">
      <h1 class="header-title">{{post.title}}</h1>
    </div>
  </div>
  <img class="mobile-hidden" src="{{theme.link}}/images/barra-iyengar.jpg" />
  <article class="container content-section post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="row content-section">
      <div class="three columns">
        <img class="align-center photo" src="{{theme.link}}/images/faeqji-pe-e-cami.jpg" alt="Faeqji, Pedro e Cami">
      </div>
      <div class="nine columns text-highlight">
        {{post.content}}
        <img class="mobile-hidden" src="{{theme.link}}/images/pedro-cami-praticando.jpg" alt="Pedro e Cami praticando">
      </div>
    </section>
  </article>
  {% include "page-bottom.twig" %}
  {% for section in sections %}
    {% if section.slug == 'atividades' %}
      {% include ["index.twig", "page.twig"] with {'post': section, 'partial': true, 'posts': posts} %}
    {% else %}
      {% include ["page-"~section.name~".twig", "page.twig"] with {'post': section, 'partial': true} %}
    {% endif %}
  {% endfor %}
  {% include 'footer.twig' %}
  {% if login_url %}
    <a class="button" href="{{login_url}}">ATUALIZAR DADOS DO FACEBOOK!</a>
  {% endif %}
{% endblock %}
