{% extends partial ? "partial.twig" : "base.twig" %}

{% block content %}
  {% include "page-top.twig" %}
  <article class="container content-section post-type-{{post.post_type}}" id="post-{{post.ID}}">
    {{post.content}}
    {% for retiro in retiros %}
      {% if loop.index % 3 == 1 %}
      <div class="row">
      {% endif %}
        <div class="one-third column">
          <div class="atv-wrapper">
            <a href="{{retiro.link}}"><h4 class="atv-title">{{retiro.title}}</h4></a>
            <a href="{{retiro.link}}"><img src="{{retiro.thumbnail.src('small')}}" alt="{{retiro.title}}" class="photo atv-cover"></a>
            <footer class="atv-info">{{retiro.get_field('top_subtitle')}}</footer>
          </div>
        </div>
      {% if (loop.index % 3 == 0 or loop.last) %}
      </div>
      {% endif %}
    {% endfor %}
  </article>
  {% include "page-bottom.twig" %}
  {% include 'footer.twig' %}
{% endblock %}
