{% extends partial ? "partial.twig" : "base.twig" %}

{% block content %}
  {% include "page-top.twig" %}
  <article class="container content-section post-type-{{post.post_type}}" id="post-{{post.ID}}">
    {{post.content}}
    {% for evento in evento_terms %}
      <h3>{{evento.name}}</h3>
      {% for album in evento.get_posts %}
        <div class="album-wrapper">
          <div class="album-cover photo" :style="styleObj"><a href="{{album.link}}"><img src="{{album.thumbnail.src}}"></a></div>
        </div>
      {% endfor %}
    {% endfor %}
  </article>
  {% include "page-bottom.twig" %}
  {% include 'footer.twig' %}
{% endblock %}
