{% extends partial ? "partial.twig" : "base.twig" %}

{% block content %}
  <section class="sct-parallax" :class="{ mobile: mobile }" data-time="5">
    <div class="images-container">
      <transition-group name="slide" class="transition-wrapper">
      {% for image in (post.id|make_gallery('album_photos'))|slice(0, 5) %}
        <div key="{{loop.index}}" class="slider-img" v-show="current === {{loop.index - 1}}" style="background-image: url({{image.src}})"></div>
      {% endfor %}
      </transition-group>
    </div>
    <div class="parallax-cover"></div>
    <div class="container">
      <h1>{{post.title}}</h1>
    </div>
  </section>
  <article class="container content-section album-container">
    {% for image in post.id|make_gallery('album_photos') %}
      <a data-fancybox="gallery" data-caption="{{image.caption}}" href="{{image.src('full')}}"><img class="photo" src="{{image.src('thumbnail')}}" :style="styleObj"></a>
    {% endfor %}
  </article>
  {% include 'footer.twig' %}
{% endblock %}
