{% extends "base.twig" %}

{% block content %}
  {% include "page-top.twig" %}
  <article class="container content-section post-type-{{post.post_type}}" id="post-{{post.ID}}">
    {{post.content}}
    {% if post.get_field('cta_text') %}
      <p><a href="#" class="button button-primary bt-cta">{{post.get_field('cta_text')}}</a></p>
    {% endif %}
    {% if post.get_field('cta_form') %}
      <aside class="cta-section">
        <hr>
        <h4>{{post.get_field('cta_text')}}</h4>
        {{post.get_field('cta_form')|shortcodes}}
      </aside>
    {% endif %}
  </article>
  {% include "page-footer.twig" %}
  {% include 'footer.twig' %}
{% endblock %}
