<div class="one-third column">
  <div class="atv-wrapper">
    <a href="{{single.link}}"><h4 class="atv-title">{{single.title}}</h4></a>
    <a href="{{single.link}}"><img src="{{single.thumbnail.src('medium')}}" alt="{{single.title}}" class="photo atv-cover"></a>
    <footer class="atv-info">{{single.get_field('top_subtitle')}}</footer>
  </div>
</div>
