<div class="one-third column">
  <div class="atv-wrapper">
    <a href="{{single.link}}"><h4 class="atv-title">{{single.title}}</h4></a>
    <a href="{{single.link}}">
      {% if single.object_type == 'term' %}
        <img src="{{TimberImage(single.get_field('footer_image')).src('medium')}}" alt="{{single.title}}" class="photo atv-cover" :style="styleObj">
      {% else %}
        <img src="{{single.thumbnail.src('medium')}}" alt="{{single.title}}" class="photo atv-cover" :style="styleObj">
      {% endif %}
    </a>
    <footer class="atv-info">{{single.get_field('top_subtitle')}}</footer>
  </div>
</div>
