{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination">

            {# Primeira #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
              <li class="first">
                <a class="button button-primary" href="{{ posts.pagination.pages|first.link }}">&lt;&lt;</a>
              </li>
            {% else %}
              <li class="first disabled">
                <button class="button btn-disabled" disabled>&lt;&lt;</button>
              </li>
            {% endif %}


            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li>
                        <a class="button button-primary" href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current">
                        <span class="button btn-disabled" class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Última #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last">
                    <a class="button button-primary" href="{{ posts.pagination.pages|last.link }}">&gt;&gt;</a>
                </li>
            {% else %}
                <li class="last disabled">
                    <button class="button btn-disabled" disabled>&gt;&gt;</button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
